.button {
  color: var(--white);
  background-color: var(--button);
  padding: 16px 48.5px;
  max-width: max-content;
  border-radius: 60px;
  margin-top: 30px;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 16px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
  }
}

.button:hover,
.button:active,
.button:focus {
  transform: scale(1.03);
  background-color: var(--button-hover);
}
