.container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
  max-width: 631px;
}
