@import url("react-datepicker/dist/react-datepicker.css");

.container {
  max-width: 375px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.react-datepicker__day--selected {
  background-color: var(--text) !important;
  border-radius: 50% !important;
}

.react-datepicker-wrapper {
  width: 100%;
}